<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trjst.mapper.WithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.trjst.model.Withdraw" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="withdraw_amount" property="withdraw_amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="account_bank" property="account_bank" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="get_amount" property="get_amount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, withdraw_amount, type, name, account, phone, status, create_time,account_bank,bank,get_amount
  </sql>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from withdraw
    where user_id = #{userId,jdbcType=INTEGER} order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.trjst.model.Withdraw" >
    insert into withdraw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="withdraw_amount != null" >
        withdraw_amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="account_bank != null" >
        account_bank,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="get_amount != null" >
        get_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="withdraw_amount != null" >
        #{withdraw_amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="account_bank != null" >
        #{account_bank,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="get_amount != null" >
        #{get_amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trjst.model.Withdraw" >
    update withdraw
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="withdraw_amount != null" >
        withdraw_amount = #{withdraw_amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="account_bank != null" >
        account_bank = #{account_bank,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="get_amount != null" >
        get_amount = #{get_amount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getResultList" resultMap="BaseResultMap">
    SELECT
    *
    FROM withdraw
    <where>
      <if test="logmax!=null and logmax != '' and logmin!=null and logmin != ''">
        AND create_time BETWEEN DATE_FORMAT(#{logmax},'%Y-%m-%d 00:00:00')
        AND DATE_FORMAT(#{logmin},'%Y-%m-%d 23:59:59')
      </if>
      <if test="phone != null and phone != ''">
        and phone = #{phone}
      </if>
      <if test="name != null and name != ''">
        and name like CONCAT('%',#{name},'%')
      </if>
    </where>
    order by create_time desc
    limit #{start},#{length_number}
  </select>

  <select id="getListCount" resultType="java.lang.Integer">
    select
    count(*) count
    from withdraw
    <where>
      <if test="logmax!=null and logmax != '' and logmin!=null and logmin != ''">
        AND create_time BETWEEN DATE_FORMAT(#{logmax},'%Y-%m-%d 00:00:00')
        AND DATE_FORMAT(#{logmin},'%Y-%m-%d 23:59:59')
      </if>
      <if test="phone != null and phone != ''">
        and phone = #{phone}
      </if>
      <if test="name != null and name != ''">
        and name like CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>

  <select id="selectAllById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
      *
    from withdraw where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>